body {
  background-color:black ;
  margin:0;
  padding:0;
}

canvas {
  position:absolute;
  display: block;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
}

#text {
  transition-duration: 1s;
  visibility:hidden;
}

#credit {
  position: absolute;
  right:10px;
  top:5px;
  width:50px;
  height:50px;
  cursor: pointer;
  z-index: 11;
}

#creText {
  top:10%;
  color:white;
  width:50%;
  max-height:250px;
  word-wrap: break-word;
  padding:10%;
  margin-left:15%;
  z-index: 100;
  position: absolute;
  visibility:hidden;
  background-color: black;
  border-radius: 20px;
  border:2px solid grey;
}

#creText a{
  color:lightblue;
  text-decoration: none;
  cursor: pointer;
  font-family:monospace ;
}

@media only screen and (min-width:382px) {
  #timer {
    text-align: center;
    font-size: 2em;
    font-family:Harrington;
    font-weight:900;
    font-style:italic;
    letter-spacing:5px;
    margin-top: 10px;
    color:white;
  }

  #text {
    -webkit-text-stroke-width:5px;
    -webkit-text-stroke-color:white;
    color:black;
    font-size: 5em;
    text-align: center;
  }

  #house {
    max-width: 400px;
    position: absolute;
    width: 90%;
    height:50%;
    bottom: 3%;
    left:5%;
    z-index:1;
    visibility: hidden;
  }

  #snowFloor {
    position: absolute;
    bottom:0px;
    width:100%;
    height:30px;
    padding:0;
    z-index:2;
    visibility: hidden;
  }

  #tree {
    position: absolute;
    width:100px;
    max-width:120px;
    height:50%;
    max-height:250px;
    bottom:0px;
    z-index:0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 381px) {
  #credit {
    width:30px;
    height:30px;
    top:10px;
  }

  #creText {
    position: absolute;
    margin-left:0;
    left:5%;
  }

  #timer {
    text-align: center;
    font-size: 24px;
    font-family:Harrington;
    font-weight:900;
    font-style:italic;
    letter-spacing:5px;
    margin-top: 5%;
    color:white;
  }

#text {
  -webkit-text-stroke-width:3px;
  position: relative;
  -webkit-text-stroke-color:white;
  color:black;
  font-size: 300%;
  text-align: center;
}

#house {
  position: absolute;
  width: 90%;
  height:50%;
  bottom: 3%;
  left:5%;
  z-index:2;
  visibility: hidden;
}

#snowFloor {
  position: absolute;
  bottom:0px;
  width:100%;
  height:30px;
  padding:0;
  z-index:1;
  visibility: hidden;
}

#tree {
  position: absolute;
  width:100px;
  max-width:120px;
  height:50%;
  max-height:250px;
  bottom:0px;
  z-index:0;
  visibility: hidden;
}
}
